@import "tailwindcss";

:root {
  --background: linear-gradient(95deg, #8563ED 1.36%, #3AAEF8 112.96%);
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
